/* primary colours */
$main-brand-colour: #4D0DB7
$light-shade: #9d88b3
$dark-shade: #382B47
$light-accent: #fff6ff

/* secondary colours */
$secondary-brand-colour: #63baaa
$secondary-light: #c4fcf0
$secondary-dark: #4C8077

/* text colours */
$text-main: #382b47